@font-face{
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue/BebasNeue.eot');
	src: url('../fonts/BebasNeue/BebasNeue.eot?iefix') format('eot'),
	url('../fonts/BebasNeue/BebasNeue.woff') format('woff'),
	url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
