@font-face{
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeue/BebasNeue.eot');
	src: url('../fonts/BebasNeue/BebasNeue.eot?iefix') format('eot'),
	url('../fonts/BebasNeue/BebasNeue.woff') format('woff'),
	url('../fonts/BebasNeue/BebasNeue.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}


@font-face{
	font-family: 'Advent Pro';
	src: url('../fonts/Adventpro-bold/AdventPro-bold.eot');
	src: url('../fonts/Adventpro-bold/AdventPro-bold.eot?iefix') format('eot'),
	url('../fonts/Adventpro-bold/AdventPro-bold.woff') format('woff'),
	url('../fonts/Adventpro-bold/AdventPro-bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}