@import 'vars';

@media only screen and ( min-width: 2560px) {

  html{
    font-size: 13px;
  }

}
@media only screen and ( min-width: 1920px) {

  html{
    font-size: 10px;
  }


}
@media only screen and ( max-width: 1680px) {
  html{
    font-size: 8.75px;
  }
}
@media only screen and (max-width: 1440px) {
  html{
    font-size: 7.5px;
  }
}
@media only screen and (max-width: 1366px) {
  html{
    font-size: 7.2px;
  }
}

@media only screen and ( max-width: 1280px){
  html{
    font-size: 6.7px;
  }

}

@media only screen and (max-width: 1024px) {
  html{
    font-size: 5.3px;
  }

}

@media only screen and (max-width: 768px) {

  html{
    font-size: 4px;
  }

}
@media only screen and (max-width: 666px) {

  html{
    font-size: 10px;
  }
  .container{
    padding: 5rem 1.5rem;
  }
  .footer__wrap{
    padding: 5rem 1.5rem 0;
  }
  .footer__list-item{
    margin: 0 0 1.7rem;
    &>*{
      font-size: 1.6rem;
      line-height: 1.6rem;;
    }

  }
  .footer__list-text>span{
    font-size: 1.1rem;
  }
  .footer__list-desc{
    display: none;
  }
  .footer__list-mob{
    display: block;
  }
  .footer__block:first-child{
    padding: 8rem 0 2rem;
  }
  .footer__list,.footer__block:first-child{
    flex-direction: column;
  }
  .footer__social{
    flex-direction: row;
    li{
      margin: 1rem ;
    }
  }
  .footer__logo{
    position: absolute;
    left: 50%;
    top: 3rem;
    transform: translate(-50%);
  }
  .footer__list-text > *{
    font-size: 1.1rem;
  }
  .footer:after {
    bottom: 5rem;
  }

  .modal{
    height: auto;
    border: none;
    margin: 0 1rem;

  }
  .modal__desc{
    padding: 5.4rem 1rem 2.4rem ;
  }
  .modal__desc:after {
    top: 1.5rem;
  }

  .modal__content{
    flex-direction: column;
  }

  .modal__img-wrap{
    width: 100%;
    height: 15rem;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2rem;
  }
  .modal__img {
    max-width: 12.1rem;
    max-height: 15rem;
  }
  .modal__block {
    width: 100%;
    padding: 3rem 0 0 0 ;
  }
  .modal .section__button{
    width: 100%;
    margin: 0;
  }

  .modal button{
    border-radius: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  .modal__title>*{
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-family: $AP;
  }
  .section__list-item:not(:last-child) {
    margin-right: 8.5rem;
  }
  .section__list-item {
    width: 100%;
  }

  .blog__item-text{
    padding: 2.5rem 2.5rem 3.1rem 2.5rem;
  }
  .blog__button{
    & > *{
      position: relative;
      &:after{
        content: url("../img/icon/read-more.svg");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.4rem;
        z-index: 1;
      }
    }
  }
  .blog__button > * {
    background-color: #F0F8F6;
    color: #01A3A4;
    font-size: 1.2rem;
    padding: 0.8rem 3rem 0.8rem 1rem
  }
  .blog .section__list-title {
    height: 2.2rem;
    padding: 0;
    //padding-bottom: 2rem;
    & > *{
      padding:0;
    }
  }
  .blog__wrap{
    padding: 5rem 0;
  }
  .blog__list{
    margin-top: 2rem;
  }
  .blog .section__desc:before{
    top: -3rem;
  }
  .blog .section__desc > *{
    line-height: 1.8rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
/////////


  .section__button {
    width: 28.8rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 2.4rem;
    & > *{

      padding: 1.6rem;
    }
  }
  .section__title > * {
    font-family: $AP;
    font-size: 2.4rem;
    text-transform: initial;
    line-height: 2.9rem;
    //margin: 2rem 0;
  }
  .section__list-title > * {
    font-family: $AP;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .section__title-blue > *{
    letter-spacing: 0.12rem;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 2rem;
  }

  .posts__gallery {
    margin-top: 2rem;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 48%);
  }
  .posts__gallery-item:nth-child(5),.posts__gallery-item:nth-child(6),.posts__gallery-item:nth-child(7),.posts__gallery:before,.posts__gallery:after{
    display: none;
  }
  .posts__wrap{
    padding-bottom: 2rem ;
  }
  .section__list{
    display: block;
    padding: 0;
  }
  .section__list-item{
    width: 100%;
    margin: 0;
  }
  .section__list-img{
    display: block;
    img{
      object-fit: contain;
    }
  }
  .work__item:last-child:before,.work__item:first-child:before{
    display: none;
  }
  .blog__button > * {

    padding: 0.8rem 3rem 0.8rem 1rem
  }
  .blog__button{
    margin: 0;
  }



  .clients__img, .clients__wrap:after{
    display: none;
  }
  .clients__block>*{
    width: 100%;
  }
  .clients__img-mob{
    display: block;

  }


  .clients__review {
    padding: 0;
  }
  .clients__review-scroll {
    max-height: 20rem;
  }
  .posts__back{
    display: none;
  }




  .work__back{
    display: none;
  }
  .work__wrap{
    padding-bottom: 3rem;
  }

  .work__item .section__list-img{
    width: auto;
    height: 15.9rem;
  }
  .work__block{
    margin-top: 3rem;
  }
  .work__item{
    margin: 0;
  }
  .work__item{
    position: relative;
    margin-bottom: 6rem;
    &:last-child{
      margin-bottom: 3rem;
    }
    &:not(:last-child):after{
      content: url("../img/icon/workAfter.svg");
      position: absolute;
      bottom: -4rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2;
    }
  }
  .section__desc > *{
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .clients  .section__desc > *{
    line-height: 2.1rem;
  }
  .work  .section__list-title>*{
    padding: 3rem 0 1rem;
  }
  .blog__list-item{
    margin: 0 2rem!important;
  }
  .clients__img-mob{
    max-width: 6rem;
    max-height: 6rem;
  }
  .clients__info{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem;
  }
  .clients__img{
    display: none;
  }
  .clients__author{
    & > *{
      font-size: 1.8rem;
      line-height: 2.1rem;
      text-transform: capitalize;
      font-family: $AP;
    }
  }
  .clients__title,.section__title-blue{
    text-align: center;
  }
  .box__desc{

  }
  .box__title{
    text-align: center;
    top: 1.5rem;
    left: 0;
  }
  .box__img {
    max-width: 14rem;
    max-height: 26.3rem;
    margin-right: 3rem;
    width: 100%;
    z-index: 0;
  }
  .box__title:before{
    left: 50%;
    transform: translate(-50%);
    top: -2.5rem;
    position: relative;
  }
  .box__block{
    flex-direction: column-reverse;
  }
  .box__info{
    width: 100%;
    text-align: center;
    padding: 0;

  }
  .box__desc{
    padding: 3rem 1rem;
  }
  .box__img{
    margin: 0;

    &:last-child{
      margin-left: 0.8rem;
    }
  }
  .box__back:nth-child(2),.box__back:nth-child(1),.box__info-img{
    display: none;
  }
  .box__back-mob{
    display: block;
    z-index: 1;
    bottom: 3rem;
    right: 3.5rem;
  }
  .box__back:nth-child(3){
    max-width: 4.8rem;
    max-height: 4.8rem;
    bottom: -1rem;
    right: -1rem;
  }
  .box__wrap{
    padding-bottom: 11rem;
  }
  .box__images{
    margin: 0 auto;
  }
  .box__button{
    position: absolute;
    bottom: -34.5rem;
    left: 50%;
    transform: translate(-50%);
  }
  .main__img{
    width: 7.4rem;
    height: 7rem;
  }
  .main__img-big{
    width: 33.5rem;
    height: 29.7rem;
  }
  .main__title > *{
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-align: center;
  }
  .main__title-right > *{
    font-size: 2.6rem;
    line-height: 4.2rem;
  }
  .main__block-left .main__img:first-child{
    left: 0;
  }
  .main__block-right .main__img:last-child{
    right: 0;
  }
  .main{
    padding: 2rem 0;
  }
  .main__title-right{
    position: relative;
    top: 0;
    left: 0;
  }
  .main__block-right{
    right: 0;
  }
  .main__block-left{
    left: 0;
  }
  .main__block-big{
    position: absolute;
    top: 2rem;
  }
  .main__block{
    padding-bottom: 23.5rem;
  }
  .main__img img{
    object-fit: none;
  }
  .main__title-right{
    text-align: center;
  }
  .main__title-right>p{
    top: 0;
    right: -0.2rem;
    display: inline;
  }
  .main__back{
    width:29.7rem;
    height:10.3rem;
    bottom: 16rem;
    left: calc(50% + 1rem);
  }
  .mission__title-right{
    position: relative;
    top: 0;
    left: 0;
    //left: 50%;
    //transform: translateX(50%);
    & > *{

     margin: 0 auto;
    }
  }
  .mission__text{
    left: 0;
  }
  .mission__back:first-child{
    top: inherit ;
    bottom:4rem;
    left:50%;
    transform: translate(-50%);
    max-width: 7.6rem;
    max-height: 7.6rem;
  }
  .mission__title{
    max-width:39rem;
    margin: 0 auto;
  }
  .mission__wrap{
    padding: 7rem 1.5rem 11rem;
  }
  .mission__text:before{
    left: 50%;
    top: -2.5rem;
    transform: translate(-50%);
  }
  .header__mob{
    display: block;
  }
  .header__burger{
    display: flex;
  }
  .header__menu {
    visibility: hidden;
    //align-items: center;
    background-color: #F0F8F6;
    margin: 0;
    padding: 11rem 0 6rem;

  }
  .header__list{
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header__item{
    font-size: 2rem;
    //margin: 2rem 0;
    position: relative;
    padding: 0;
  }
  .open-menu {
    visibility: visible;
    //transition: 5s all;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 3;

  }
  .header__back{
      display: block;

  }
  .header__item-mob{
    display: block;
  }
  .header__item:nth-child(2){
    display: none;
  }
  .header__item:nth-child(3){
    visibility: visible;
    position: absolute;
    overflow: hidden;
    top: 0rem;
    left: 0rem;
    display: block;
    width: 100vw;
    height: 6rem;
    margin: 0;
    background-color: white;
    //padding: 1rem;
  }
  .header__main{
    max-height: 6rem;
  }
  .header{
    padding: 0;
  }
  .header__logo{
    max-width: 9.6rem;
    max-height: 5rem;
    margin:0.5rem 2rem;
  }
  //.header__item-mob
  .header__item:not(:nth-child(3)){
    padding: 0;
    margin-bottom: 5.1rem ;
  }
  .header__item:not(:nth-child(3)):before{
    content: url("../img/icons/waveLittle.svg");
    width: 4.8rem;
    height: 0.5rem;
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }
  .header__item:last-child:before{
    display: none;
  }
  .header__item-mob{
    display: block;
  }
  .clients .slick-prev{
    left: calc(50% - 2rem);
    transform: translate(-50%);
  }
  .clients .slick-next{
    left: calc(50% + 2rem);
    transform: translate(-50%);
  }
  .footer__logo{
    max-width: 13.4rem;
    max-height: 7rem;
    width: 100%;
  }
  .clients__review{
    margin-left: 0;
  }
  .clients__review-scroll{
    max-height: 19rem;
    padding-right:1rem;
  }
  .clients__block{
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
  }
  .clients__rating,.clients__name{
    margin: 0;
  }
  .clients__info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .clients__author{
    padding: 0;
  }
  .clients__name{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }
  .clients .slick-next, .clients .slick-prev {
    top: 111%;
  }
  .clients__wrap{
    padding-bottom: 10rem;
  }
  .signin__form{
    background-color: transparent;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }
  .signin__block:first-child{
    max-width: 100%;
  }
  .signin__main{
    display: block;
  }
  .signin__input{
    padding: 2rem ;
    border: 0.1rem solid #74E6CF;
    margin: 0 auto 2rem;
    width: 28.8rem;
  }
  .signin__form-desc{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 28.8rem;
    margin: 0 auto;

  }
  .signin__title{
    margin:  1.5rem 0;
  }
  .signin__img{
    top: 0;
    left: -1rem;
    position: relative;
    width: 32rem;
    height: 21.9rem;
    margin: 0 auto;

  }
  .signin__title:first-child:before{
    left: 50%;
    transform: translate(-50%);
    top: -2rem;
  }
  .signin .main__title > p{
    font-size: 3.2rem;
    line-height: 3.2rem;
    display: contents;
    letter-spacing: 0.15rem;
  }
  .signin .main__title{
    text-align: center;
  }
  .signin .main__title > * {
    letter-spacing: 0.15rem;
    display: inline;
  }
  .signin__back{
    display: none;
  }
  .signin__wrap{
    padding-bottom:3rem ;
  }
  .signin__title:first-child{
    left: 0;
  }
  .signin .section__title{
    text-align: center;
  }
  label.error{
    top: 6rem;
    left: 50%;
    transform: translate(-50% );
  }
  .clients__name:after{
    bottom: -2rem;
  }
  .signin__img-wrap{
    margin: -1rem 0;
  }
}
@media only screen and (max-width: 480px) {


}
@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 320px) {

}