$main_color: #000;
$color_subtitle: #01A3A4;
$color_desc: #696969;
$color_background: #F0F8F6;

$roboto: 'Roboto',Arial, Helvetica, sans-serif;
$AdventPro: 'Advent Pro', sans-serif;
$BebasNeue: 1.6rem 'Bebas Neue', sans-serif;
