@import 'fonts';
@import 'vars';
@import 'part';


.wrap{
  width: 100vw;
  font-size: 1.6rem;
  font: $BN;
  color: $black;
  //position: relative;
  //z-index: 1;
}
.container{
  width: 100%;
  max-width: 126rem;
  margin: 0 auto;
  padding: 10rem 2rem;
  font: $BN;
}
.header{
  font-size: 2.4rem;
  padding: 0 2rem;
  &-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  &-item{
    margin: 0 5rem;
    text-transform: uppercase;
  }
}


.main{
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
  padding: 6rem 0;
  &-block, &-block__little{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-block{
    margin: -3rem 0 -5rem;
    &__big{
      &:before {
        content: url("../img/baner-left.png");
        position: absolute;
        top: 13rem;
        left: -48rem;
        z-index: 2;
      }
      &:after{
        content: url("../img/baner-right.png");
        position: absolute;
        top: 17rem;
        right: -53rem;
        z-index: 2;
      }
    }
  }
  &-img{
    margin: 0 -6rem ;
    position: relative;
  }
  &-title{
    position: relative;
    h2{
      font-size: 9.6rem;
      text-transform: uppercase;
      color: $lightblack;
      letter-spacing: 0.5rem;
    }
    &__right{
      color: white;
      position: absolute;
      top: 9rem;
      left: calc(50% + 6rem);
      font-size: 7.2rem;
      font-family: 'Galada',Arial, Helvetica, sans-serif;
      p{
        width: max-content;
        top: 9rem;
        left: 16rem;
        position: absolute;
      }
    }
  }
  &-wrap{
    text-align: center;
    margin: 0 auto;
  }
}

.section{
  &:nth-child(odd){
    background-color: #F0F8F6;
  }
  &-title{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    h3{
      font-size: 4.8rem;
    }
  }
  &-desc{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $roboto;
    color: $grey;
  }
  &-text__blue{
    font-family: $roboto;
    color: $blue;
    font-size: 1.4rem;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &-button{
    width: 28rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 2.9rem;
    &__item{
      width: 100%;
      font: inherit;
      background-color: $blue;
      border-radius: 5rem;
      border: none;
      color: $white;
      padding: 2rem;
      text-transform: uppercase;
    }
  }
  &-list{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 5rem ;
    &__item{
      width: calc((100% - 37.5rem)/3);
      line-height: 2.4rem;
      text-align: center;
      position: relative;
      &:not(:last-child){
        margin-right: 18.7rem;
      }
    }
    &__img{
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      img{
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }
    &__title{
      font-size: 2.4rem;
      padding: 4rem 0 2rem;
    }
  }
}


.work{
  &-item{
    &:first-child:before{
        content: url("../img/icon/works-elipse-left.svg");
        position: absolute;
        top: 0;
        left: -3rem;
        z-index: -1;
    }
    &:last-child:before{
      content: url("../img/icon/works-elipse-right.svg");
      position: absolute;
      top: 1rem;
      right: -1rem;
      z-index: -1;
    }
  }
}

.box{
  &-wrap{
    display: flex;
    justify-content: space-between;
  }
  &-block:first-child{
    display: flex;
    justify-content: flex-start;
    margin-right: 5rem;
    position: relative;
    z-index: 1;
    &:before{
      content: url("../img/BOX-left.png");
      position: absolute;
      top: 2.6rem;
      left: -32rem;
      z-index: 2;
    }
  }
  &-block:last-child{
    padding: 8.5rem 1rem 8rem 3rem ;
  }
  &-img{
    max-width: 28rem;
    max-height: 53rem;
    width: 100%;
    height: 100%;
    margin-right: 3rem;
    position: relative;
    z-index: 0;
    &:first-child{
      &:before{
        content: url("../img/icon/Ellipse-bl.svg");
        position: absolute;
        top: -2.4rem;
        left: -2.4rem;
        width: 5.5rem;
        height: 5.5rem;
        z-index: -1;
      }
    }
    &:last-child{
      &:before{
        content: url("../img/icon/Ellipse-br.svg");
        position: absolute;
        bottom: -3.4rem;
        right: -3.4rem;
        z-index: 1;
      }
    }
  }
  &-title{
    text-align: left;
    left: 8.5rem;
    &:before{
    content: url("../img/icon/wave.svg");
    position: absolute;
    top: 2rem;
    left: -7rem;
    }
  }
  &-desc{
    padding: 3rem 0;
  }
  &-button{
    position: relative;
    margin: 0;
    z-index: 1;
    &:before{
      content: url("../img/Box-right.png");
      position: absolute;
      top: -5rem;
      left: 16rem;
      z-index: -1;
    }
  }
}

.mission{
  position: relative;

  &-wrap{
    padding-bottom: 13.7rem;
    position: relative;
    &:before{
      content: url("../img/icon/foots.svg");
      position: absolute;
      top: 16rem;
      left: -14rem;
    }
    &:after{
      content: url("../img/icon/foots-line.svg");
      position: absolute;
      top: 10rem;
      right:-32rem;
      z-index: -1;
    }
  }
  &-text{
    position: relative;
    left: 6rem;
    &:before {
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 0;
      left: -6rem;
    }
  }
  &-title{
    h2{
    letter-spacing: 0;
    line-height: 9.6rem;
    }
   span{
     width: max-content;
      position: absolute;
      background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      top: 9rem;
      left: -8rem;
    }
  }
}

.posts{
  &-wrap{
    margin: 0 auto;
    text-align: center;
  }
}
.gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 23.8rem);
  grid-template-rows: repeat(2, 23.8rem);
  grid-gap: 0.7rem;
  position: relative;
  z-index: 1;
  &:before{
    content: url("../img/icon/post-l.svg");
    position: absolute;
    top: -3rem;
    left: -3rem;
  }
  &:after{
    content: url("../img/icon/post-r.svg");
    position: absolute;
    top: -2.5rem;
    right: -2rem;
    z-index: -1;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &-item{
    &__1{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &__2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    &__3{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__4 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__5 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    &__7{
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

.blog{
  position: relative;
  &:before{
    content: url("../img/icon/line_bg.svg");
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: -1;
  }

   &-button{
      font-family: $roboto;
      max-width: 11.2rem;
      font-size: 1.2rem;
      text-align: right;
      margin: 0;
      float: right;

      button{
        padding: 0.3rem;
      }
  }
  &-list{
    margin-top: 3rem;
  }
  .section-list__title{
    height: 10rem;
  }
  &-item{
    background-color: white;
    text-align: left;
    width: calc((100% - 7rem)/3);
    &:not(:last-child){
      margin-right: 3rem;
    }
    &__block{
      padding: 0rem 4rem 4rem;
      border: 0.1rem solid #F0F8F6;
      border-top: none;
    }

    &__img{
      width: 100%;
      height: auto;
    }
  }

  .section-desc{
    padding: 4rem 0 3.7rem;
    position: relative;
    &:before{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 0rem;
      left: 0rem;
    }
  }
}



.signin{
  padding-bottom: 10rem;
  &-form{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    width: 100%;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    background-color: white;

    &__desc{
      font-size: 1.2rem;
      color: #C4C4C4;
      font-family: $roboto;
      padding-top: 1rem;
    }
    &__block{
      max-width: 59.5rem;
      position: relative;
      z-index: 0;
      margin: 4rem 0;
      &:before{
        content: url("../img/form-left.png");
        position: absolute;
        top: -9rem;
        left: -12.5rem;
        z-index: -1;
      }
    }
  }
  &-title{
    padding: 0 0 2rem 7rem;
    position: relative;
    &:before{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 5rem;
      left: 0rem;
    }
  }
  &-text{
    p{
      font-size: 9.6rem;
      line-height: 9.6rem;
      color: $blue;
      margin-top: -1rem;
    }
  }
  &-input {
    border: none;
    &::placeholder {
      color: #C4C4C4;
      font-size: 1.4rem;
    }
  }
  &-button{
    margin: 0;
  }
  &-wrap{
    position: relative;
  }
  &-main{
   display: flex;
    justify-content: space-between;
  }
  &-img{
    position: absolute;
    top:10rem;
    left: 60rem;

  }
  //&-wrap{
  //  position: relative;
  //  &:before{
  //    content: url("../img/form.png");
  //    position: absolute;
  //    top: 12rem;
  //    right: -30rem;
  //  }
  //}
  .section-title{
    text-align: left;
  }
}


.clients{
  position: relative;
  &:before{
    content: url("../img/icon/cliens-bottom.svg");
    position: absolute;
    bottom: -5rem;
    right: calc(50% + 74rem);
    z-index: -1;
  }
  &-wrap{
    position: relative;
    &:before{
      content: url("../img/qq.png");
      position: absolute;
      top: 10rem;
      left: -38rem;
      //width: 25rem;
      //overflow-x: hidden;
    }
    &:after{
      content: url("../img/icon/cliens-wave.svg");
      position: absolute;
      top: 7rem;
      right:-25%;
      width: 25rem;
      overflow-x: hidden;
    }
  }
  &-block{
    display: flex;
    margin: 5rem 0 2rem;
  }
  &-title{
    text-align: left;
  }
  &-img{
    position: relative;
    left: -18rem;
    width: 48%;
  }
  &-author{
    position: relative;
    padding: 5rem 0 8rem;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    &:before{
      content: url("../img/icon/rating.svg");
      position: absolute;
      top: 5rem;
      right: 6rem;
    }
    &:after{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 11rem;
      left: 0rem;
    }

  }
  &-review{
    padding-right:2.5rem ;
    &__scroll{
      max-height: 28rem;
      overflow-y: scroll;
      position: relative;
      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        width: 0.5rem;
        border-radius: 5rem;
        border-left: 2px solid white;
        border-right: 2px solid white;
        background-color: #74E6CF;

      }
      &::-webkit-scrollbar-thumb {
        width: 0.1rem;
        border-radius: 5rem;
        background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
      }
    }
    &__text{
      p{
        margin-bottom: 2rem;
        line-height: 2.88rem;
      }
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 99%;
        height: 5rem;
        background: white;
        background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1) 100%);
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
}



.footer{
  position: relative;
  background-color: $white;
  z-index: 1;
  &-wrap{
    padding: 0rem 2rem;
  }
  &-bottom{
    span{
      display: block;
      color: $grey;
      font-size: 1.2rem;
      font-family: $roboto;
    }
  }
  &-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child{
      padding: 7rem 0rem;
    }
    &:last-child{
      padding: 1rem 0rem;
    }

  }
  &-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item{
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-right: 3rem;
      color: #212121;
      display: block;
      &:last-child{
      }
      a{
        text-decoration: none;
        letter-spacing: 0.1rem;
      }

    }
    &__icon{
      position: relative;
      span{
        position: relative;
        right: 7rem;
      }
      &:after{
        content: url("../img/icon/SheepFish.svg");
        position: absolute;
        top: 0rem;
        left: 9rem;
      }

    }
  }
  &-social{
    li{
      position: relative;
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
      display: block;
      &:nth-child(1):after{
        content: url("../img/icon/facebook.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(2):after{
        content: url("../img/icon/instagram.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(3):after{
        content: url("../img/icon/twitter.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(4):after{
        content: url("../img/icon/youtube.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
    }
  }
}

@import 'media';
