@import 'fonts';
@import 'vars';
@import 'part';

.wrap{
  max-width: 100vw;
  width:100%;
  font: $BN;
  color: $black;
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 126rem;
  margin: 0 auto;
  padding: 10rem 2rem;
  font: $BN;

}
.header{
  position: relative;
  font-size: 2.4rem;
  padding: 0 2rem;
  z-index: 1;
  &-dropdown{
    display: none;
    position: absolute;
    top: 5rem;
    left: -2rem;
    background-color: $white;
    overflow: auto;
    box-shadow: 1rem 1rem 3rem rgba(1, 163, 164, 0.15);
    z-index: 1;
    min-width: 18rem;
    &__active{
      color: #01a3a4;
      border-bottom: 0.2rem solid #01a3a4;
    }
    &__item{
      padding: 3rem 2rem;
      letter-spacing: 0.25rem;
      width: 100%;
      &:hover{
        background-color: #F0F8F6;
      }
    }
    &__show {
      display: block;
    }
  }
  &-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  &-item{
    margin: 0 5rem;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 0.1rem;
    &__mob{
      display: none;
    }
  }
  &-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    &__img{
      display: none;
      position:absolute ;
      top: 0rem;
      left: 0rem;
      img{
        max-height: 5rem;
      }
    }
    span
    {
      display: none;
      width: 1.7rem;
      height: 0.1rem;
      margin-bottom: 0.4rem;
      top: 3rem;
      right: 1rem;
      position: relative;
      background: #34495E;
      border-radius: 0.6rem;
      z-index: 1;
      transform-origin: 0.5rem 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }
    }
  }
  &-checkbox {
    width: 2rem;
    height: 2rem;
    top: 3rem;
    right: 1rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    &:checked ~ span {
      //opacity: 1;
      transform: rotate(45deg) ;
    }
    &:checked ~ span:nth-last-child(3) {
      transform: rotate(-45deg) ;
    }
    &:checked ~ span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    &:checked ~ ul {
      display: flex;
      transform: none;
    }
  }
}



.main{
  background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);
  padding: 6rem 0;
  &-block, &-block__little{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-block{
    margin: -3rem 0 -5rem;
    &__big{
      &:before {
        content: url("../img/baner-left.png");
        position: absolute;
        top: 13rem;
        left: -48rem;
        z-index: 0;
      }
      &:after{
        content: url("../img/baner-right.png");
        position: absolute;
        top: 17rem;
        right: -53rem;
        z-index: 0;
      }
    }
  }
  &-img{
    margin: 0 -6rem ;
    position: relative;
  }
  &-title{
    position: relative;
    h2{
      font-size: 9.6rem;
      text-transform: uppercase;
      color: $lightblack;
      letter-spacing: 0.5rem;
      line-height: 9.6rem;
    }
    &__right{
      color: white;
      position: absolute;
      top: 9rem;
      left: calc(50% + 6rem);
      font-size: 7.2rem;
      font-family: 'Galada',Arial, Helvetica, sans-serif;
      p{
        width: max-content;
        top: 9rem;
        left: 16rem;
        position: absolute;
      }
    }
  }
  &-wrap{
    text-align: center;
    margin: 0 auto;
  }
}

.section{
  &:nth-child(odd){
    background-color: #F0F8F6;
  }
  &-title{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    h3{
      font-size: 4.8rem;
    }
  }
  &-desc{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: $roboto;
    color: $grey;
  }
  &-text__blue{
    font-family: $roboto;
    color: $blue;
    font-size: 1.4rem;
    letter-spacing: 0.35rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &-button{
    width: 28rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 2.9rem;
    &__item{
      width: 100%;
      font: inherit;
      background-color: $blue;
      border-radius: 5rem;
      border: none;
      color: $white;
      padding: 2rem;
      text-transform: uppercase;
    }
  }
  &-list{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 5rem ;
    &__item{
      width: calc((100% - 37.5rem)/3);
      line-height: 2.4rem;
      text-align: center;
      position: relative;
      &:not(:last-child){
        margin-right: 18.7rem;
      }
    }
    &__img{
      margin: 0 auto;
      width: 20rem;
      height: 20rem;
      img{
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }
    &__title{
      font-size: 2.4rem;
      padding: 4rem 0 2rem;
    }
  }
}


.work{
  &-item{
    &:first-child:before{
        content: url("../img/icon/works-elipse-left.svg");
        position: absolute;
        top: 0;
        left: -3rem;
        z-index: -1;
    }
    &:last-child:before{
      content: url("../img/icon/works-elipse-right.svg");
      position: absolute;
      top: 1rem;
      right: -1rem;
      z-index: -1;
    }
  }
}

.box{
  &-wrap{
    display: flex;
    justify-content: space-between;
  }
  &-block:first-child{
    display: flex;
    justify-content: flex-start;
    margin-right: 5rem;
    position: relative;
    z-index: 0;
    &:before{
      content: url("../img/BOX-left.png");
      position: absolute;
      top: 2.6rem;
      left: -32rem;
      z-index: 1;
    }
  }
  &-block:last-child{
    padding: 8.5rem 1rem 8rem 3rem ;
  }
  &-img{
    max-width: 28rem;
    max-height: 53rem;
    width: 100%;
    height: 100%;
    margin-right: 3rem;
    position: relative;
    //z-index: 0;
    &:first-child{
      &:before{
        content: url("../img/icon/Ellipse-bl.svg");
        position: absolute;
        top: -2.4rem;
        left: -2.4rem;
        width: 5.5rem;
        height: 5.5rem;
        z-index: -1;
      }
    }
    &:last-child{
      &:before{
        content: url("../img/icon/Ellipse-br.svg");
        position: absolute;
        bottom: -3.4rem;
        right: -3.4rem;
        z-index: 1;
      }
    }
  }
  &-title{
    text-align: left;
    left: 8.5rem;
    &:before{
    content: url("../img/icon/wave.svg");
    position: absolute;
    top: 2rem;
    left: -7rem;
    }
  }
  &-desc{
    padding: 3rem 0;
  }
  &-button{
    position: relative;
    margin: 0;
    z-index: 0;
    &:before{
      content: url("../img/Box-right.png");
      position: absolute;
      top: -5rem;
      left: 16rem;
      z-index: -1;
    }
  }
}

.mission{
  position: relative;

  &-wrap{
    padding-bottom: 13.7rem;
    position: relative;
    &:before{
      content: url("../img/icon/foots.svg");
      position: absolute;
      top: 16rem;
      left: -14rem;
    }
    &:after{
      content: url("../img/icon/foots-line.svg");
      position: absolute;
      top: 10rem;
      right:-32rem;
      z-index: -1;
    }
  }
  &-text{
    position: relative;
    left: 6rem;
    &:before {
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 0;
      left: -6rem;
    }
  }
  &-title{
    h2{
    letter-spacing: 0;
    line-height: 9.6rem;
    }
   span{
     width: max-content;
      position: absolute;
      background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      bottom: -20rem;
      left: -8rem;
    }
  }
}

.posts{
  &-wrap{
    margin: 0 auto;
    text-align: center;
  }
}
.gallery {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(5, 23.8rem);
  grid-template-rows: repeat(2, 23.8rem);
  grid-gap: 0.7rem;
  position: relative;
  &:before{
    content: url("../img/icon/post-l.svg");
    position: absolute;
    top: -3rem;
    left: -3rem;
  }
  &:after{
    content: url("../img/icon/post-r.svg");
    position: absolute;
    top: -2.5rem;
    right: -2rem;
    z-index: -1;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  &-item{
    &__1{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &__2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    &__3{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__4 {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__5 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    &__6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    &__7{
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
}

.blog{
  &-wrap{
    position: relative;
    &:before{
      content: url("../img/icon/line_bg.svg");
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      z-index: -1;
    }
  }
  .section-desc p{
    max-height: 7.2rem;
    overflow: hidden;
  }


   &-button{
      font-family: $roboto;
      max-width: 11.2rem;
      font-size: 1.2rem;
      text-align: right;
      margin: 0;
      float: right;

      button{
        padding: 0.3rem;
      }
  }
  &-list{
    margin-top: 3rem;
  }
  .section-list__title{
    height: 10rem;
  }
  &-item{
    background-color: white;
    text-align: left;
    width: calc((100% - 7rem)/3);
    &:not(:last-child){
      margin-right: 3rem;
    }
    &__block{
      padding: 0rem 4rem 4rem;
      border: 0.1rem solid #F0F8F6;
      border-top: none;
    }

    &__img{
      width: 100%;
      height: auto;
    }
  }

  .section-desc{
    padding: 4rem 0 3.7rem;
    position: relative;
    &:before{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 0rem;
      left: 0rem;
    }
  }
  .slick-dotted.slick-slider{
    //margin-bottom: -5rem;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: relative;
    //top: -2rem;
    li {
      margin: 0 0.25rem;
      width: 6.6rem;
      height: 0.1rem;
      button {
        display: block;
        width: 6.6rem;
        height: 0.2rem;
        padding: 0;
        border: 0.1rem;
        background: #F0F8F6;
        text-indent: -9999px;
      }
    }
    li.slick-active button {
      background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
    }
  }
}



.signin{

  &-form{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
    background-color: white;
    width: 59.5rem;
    position: relative;
    z-index: 1;
    &:before{
      content: url("../img/form-left.png");
      position: absolute;
      top: -9rem;
      left: -12.5rem;
      z-index: 0;
    }
    &__desc{
      font-size: 1.2rem;
      color: #C4C4C4;
      font-family: $roboto;
      padding-top: 1rem;
    }
  }
  &-block{
    position: relative;
    //z-index: -1;
    margin: 4rem 0;

  }
  &-title{
    padding: 0 0 2rem 7rem;
    position: relative;
    &:before{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 5rem;
      left: 0rem;
    }
  }
  &-text{
    position: relative;

    p{
      font-size: 9.6rem;
      line-height: 9.6rem;
      color: $blue;
    }
  }
  &-input {
    border: none;

    &::placeholder {
      color: #C4C4C4;
      font-size: 1.4rem;
    }

  }
  &-button{
    margin: 0;
  }
  &-wrap{
    position: relative;
    padding-bottom: 22rem;
  }
  &-img{
    position: absolute;
    left: 31vw;
    top: 11rem;
  }
  &-main{
   display: flex;
    justify-content: space-between;
    position: relative;
  }
  .section-title{
    text-align: left;
  }
}


.clients{
  position: relative;
  &:before{
    content: url("../img/icon/cliens-bottom.svg");
    position: absolute;
    bottom: -5rem;
    right: calc(50% + 74rem);
    z-index: -1;
  }
  &-wrap{
    position: relative;
    &:before{
      content: url("../img/qq.png");
      position: absolute;
      top: 10rem;
      left: -38rem;
      z-index: -1;
    }
    &:after{
      content: url("../img/icon/cliens-wave.svg");
      position: absolute;
      top: 7rem;
      right:-25%;
      width: 25rem;
      overflow-x: hidden;
      z-index: -1;
    }
  }
  &-block{
    display: flex;
    margin: 5rem 0 2rem;
  }
  &-title{
    text-align: left;
  }
  &-img{
    position: relative;
    z-index: -1;
    left: -18rem;
    width: 48%;
    &__mob{
      display: none;
      position: relative;
      &:after{
        content: url("../img/icon/mobRew.svg");
        position: absolute;
        top: -2rem;
        right: 4rem;
        z-index: -1;
      }
    }
  }
  &-author{
    position: relative;
    padding: 5rem 0 8rem;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    &:before{
      content: url("../img/icon/rating.svg");
      position: absolute;
      top: 5rem;
      right: 6rem;
      z-index: -1;
    }
    &:after{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 11rem;
      left: 0;
      z-index: -1;
    }

  }
  &-review{
    padding-right:2.5rem ;
    z-index: 0;
    &__item{
      display: none;
    }
    &__slider{
      position: relative;
    }
    &__scroll{
      max-height: 28rem;
      overflow-y: scroll;
      position: relative;
      &::-webkit-scrollbar {
        width: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        width: 0.5rem;
        border-radius: 5rem;
        border-left: 2px solid white;
        border-right: 2px solid white;
        background-color: #74E6CF;

      }
      &::-webkit-scrollbar-thumb {
        width: 0.1rem;
        border-radius: 5rem;
        background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
      }
    }
    &__text{
      max-width: 100%;
      //display: none;
      p{
        margin-bottom: 2rem;
        line-height: 2.88rem;
      }
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 99%;
        height: 5rem;
        background: white;
        background: linear-gradient(0deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.1) 100%);
        bottom: 0;
        left: 0;
        z-index: 2;
      }
    }
  }
  .prev, .next {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    position: absolute;
    bottom: -6rem;
    transform: translate(-50%);
    z-index: -1;
  }
  .next {
    left:calc( 50% + 2.5rem);
    &:after{
      content: url("../img/icon/Arrow_right.svg");
      position: absolute;
      right: 0;

    }
  }
  .prev{
    left:calc( 50% - 2.5rem);
    &:after{
      content: url("../img/icon/Arrow_left.svg");
      position: absolute;
      left: 0;

    }
  }

}
.footer{
  position: relative;
  background-color: $white;
  z-index: 0;
  &:before,&:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #F0F8F6;
    left: 0;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom:6rem;
  }

  &-wrap{
    padding: 0rem 2rem;
  }
  &-bottom{
    span{
      display: block;
      color: $grey;
      font-size: 1.2rem;
      font-family: $roboto;
    }
  }
  &-logo{
    img{
      width: 80%;
    }
  }
  &-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child{
      padding: 7rem 0rem;
    }
    &:last-child{
      padding: 1rem 0rem;
    }

  }
  &-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item{
      font-size: 1.8rem;
      text-transform: uppercase;
      margin-right: 3rem;
      color: #212121;
      display: block;
      &:last-child{
      }
      a{
        text-decoration: none;
        letter-spacing: 0.1rem;
      }


    }
    &__mob{
      display: none;
    }
    &__icon{
      position: relative;
      span{
        position: relative;
        right: 7rem;
      }
      &:after{
        content: url("../img/icon/SheepFish.svg");
        position: absolute;
        top: -1rem;
        left: 9rem;
      }

    }
  }
  &-social{
    li{
      position: relative;
      margin-right: 2rem;
      width: 3rem;
      height: 3rem;
      display: block;
      &:last-child{
        margin-right: 0;
      }
      &:nth-child(1):after{
        content: url("../img/icon/facebook.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(2):after{
        content: url("../img/icon/instagram.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(3):after{
        content: url("../img/icon/twitter.svg");
        position: absolute;
        top: 0rem;
        left: 0rem;
      }
      &:nth-child(4):after{
        content: url("../img/icon/youtube.svg");
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}


.modal{
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(.9);
  max-width: 80rem;
  width: 95%;
  height: 46rem;
  background-color: #fff;
  border: 0.1rem solid #FFFFFF;
  border-radius: 2rem;
  transition: all .18s ease-in-out;
  visibility: hidden;
  opacity: 0;
  &-desc{
    position: relative;
    &:after{
      content: url("../img/icon/wave.svg");
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &-content{
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-img{
    height: 100%;
    &-wrap{
    height: 100%;
    background-color: #F0F8F6;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    }

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &.show{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 1000;
  }
  &-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
    padding: 1rem;
    text-align: center;
    .section-title span{
      color: $blue;
    }
  }
  &-back{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .6);
      z-index: 10;
    }
  &-hidden{
    display: none;
  }
}






@import 'media';
